    <div class='container-fluid'>
        <h2>Add a post.</h2>
        <form class='form create-post'>
            <div class='form-group'>
                <label for = 'post-body'></label>
                <textarea class='form-input' id='post-body' type='text'></textarea>
            </div>
            <div class='form-group'>
                <label for = 'submit-post-btn'></label>
                <button type='submit' class='submit-post-btn'>Submit Post</button>
            </div>
        </form>
    </div>

<script src = '../js/post.js'></script>