/* entire site */

* {
    background-color: black;
    color: white;
    font-family: 'Exo', sans-serif;
}

.btn {
    background-color: purple;
}

/* .header-one {
    border: 3px solid white;
} */

/* .container {
    display: flex;
    justify-content: center;
} */


.home-icon {
    text-align: center;
    text-decoration: underline purple;
}




/* login page */
.container.login-and-create-user{
    display: flex;
    justify-content: center;
}


.login-user-title {
    margin-top: 40px;
    margin-bottom: 5px;
}

.create-user-title {
    margin-top: 60px;
    margin-bottom: 5px;
}



/* home page */

.homepage-nav-bar {
    border-bottom: solid 1px white;
}

.profile-btn {
 border: white 1px solid;
 color: white;
 text-decoration: none;  
}

.create-post {
    border: white 1px solid;
    color: white;
    text-decoration: none;    
}

#sub-title {
    text-align: center;
}

.homepage-posts {
    display: flex;
    text-align: left;
}

.post-row {
    align-items: center;
}

.post-card {
    text-align: left;
    margin-bottom: 20px;
}

.post-header {
    /* text-decoration: underline; */
    text-decoration: underline purple;
}

.post-username {
    display: inline;
    /* float: left;*/
    
}

.post-date {
    display: inline;
    /* float: right; */
    margin-left: 15px;
}

.post-body {
    border: 1px solid white;
    margin-top: 5px;
    min-height: 70px;
}



/* individual post */

.post-header {
    text-align: left;
    margin-top: 20px;
}

.indv-post-body {
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom:15px;
    min-height: 150px;
}

.create-comment {
    width: 80%;
    align-items: center;
}


#comment-input {
    background-color: black;
    min-height: 30px;
}

#submit-button {
    margin-top: 3px;
}

.comment-container {
    display: flex;
    display: block;
}

.comment-header { 
    margin-bottom: 1px;
}

.comment-date {
    margin-bottom: 1px;
}

.comment-body {
    border: 1px solid white;
    margin-top: 1px;
    
}






/* new post page */


.add-post-header {
    margin-left: 2px;
}

#post-body{
    width: 90%;
    margin-bottom: 10px;
    min-height: 80px
}